body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
  }
  
  .navbar {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px;
    background: #333;
    color: white;
  }
  
  .button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: gray;
    color: white;
    border: none;
    border-radius: 5px;
  }
  
  .button-blue {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
  }
  
  .contact-form, .calorie-container {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
  }
  
  input, textarea {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid gray;
  }
  

@tailwind base;
@tailwind components;
@tailwind utilities;
